{% extends 'base.html.twig' %}

{% block title %}Liste des parties{% endblock %}
{% block titreH1 %}Liste des parties{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Début</th>
                <th>Jeu</th>
                <th>Participants</th>
                <th>Vainqueur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contest in contests %}
            <tr>
                <td>{{ contest.id }}</td>
                <td>{{ contest.startDate|date('d/m/Y') }}</td>
                <td>{{ contest.game.title }}</td>
                <td>{{ contest.players|length }}</td>
                <td>{{ contest.winner ? contest.winner.nickname : "" }}</td>
                <td>
                    <a href="{{ path('app_admin_contest_show', {'id': contest.id}) }}">
                        <i class="fa fa-game-board"></i>
                    </a>
                    <a href="{{ path('app_admin_contest_edit', {'id': contest.id}) }}">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune partie n'a commencé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_contest_new') }}">
        <i class="fa fa-plus"></i> Nouvelle partie
    </a>
{% endblock %}
